/* Fonts */

/* NOTO SANS TAMIL */
@font-face {
    font-family: 'Noto Sans Tamil';
    src: url('/assets/font/NotoSansTamil-Bold.eot');
    src: url('/assets/font/NotoSansTamil-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoSansTamil-Bold.woff2') format('woff2'),
        url('/assets/font/NotoSansTamil-Bold.woff') format('woff'),
        url('/assets/font/NotoSansTamil-Bold.ttf') format('truetype'),
        url('/assets/font/NotoSansTamil-Bold.svg#NotoSansTamil-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Tamil';
    src: url('/assets/font/NotoSansTamil-Regular.eot');
    src: url('/assets/font/NotoSansTamil-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoSansTamil-Regular.woff2') format('woff2'),
        url('/assets/font/NotoSansTamil-Regular.woff') format('woff'),
        url('/assets/font/NotoSansTamil-Regular.ttf') format('truetype'),
        url('/assets/font/NotoSansTamil-Regular.svg#NotoSansTamil-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Tamil';
    src: url('/assets/font/NotoSansTamil-Medium.eot');
    src: url('/assets/font/NotoSansTamil-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoSansTamil-Medium.woff2') format('woff2'),
        url('/assets/font/NotoSansTamil-Medium.woff') format('woff'),
        url('/assets/font/NotoSansTamil-Medium.ttf') format('truetype'),
        url('/assets/font/NotoSansTamil-Medium.svg#NotoSansTamil-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Tamil';
    src: url('/assets/font/NotoSansTamil-SemiBold.eot');
    src: url('/assets/font/NotoSansTamil-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/NotoSansTamil-SemiBold.woff2') format('woff2'),
        url('/assets/font/NotoSansTamil-SemiBold.woff') format('woff'),
        url('/assets/font/NotoSansTamil-SemiBold.ttf') format('truetype'),
        url('/assets/font/NotoSansTamil-SemiBold.svg#NotoSansTamil-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'KG Blank Space Solid';
    src: url('/assets/font/KGBlankSpaceSolid.eot');
    src: url('/assets/font/KGBlankSpaceSolid.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/KGBlankSpaceSolid.woff2') format('woff2'),
        url('/assets/font/KGBlankSpaceSolid.woff') format('woff'),
        url('/assets/font/KGBlankSpaceSolid.ttf') format('truetype'),
        url('/assets/font/KGBlankSpaceSolid.svg#KGBlankSpaceSolid') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}