/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Background */
.background{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/image/background.png");
}

/* Loading Text */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 1.5rem;
    color: #000;
}